@charset "UTF-8";


body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

p{
    text-align: center;
}

div {
    border: 5px solid rgba(0, 0, 0, 0.342);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.349);
}

img {
    width: 300px;
}